.app-header{
    background-color: #727D73;
    min-height: 120px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.app-header h1{
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease;
    padding: 2px 5px;
}
