.app-header{
    background-color: #1f8f9e;
    min-height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.app-header h1{
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease;
    padding: 2px 5px;
}

.app-header .app-header-search{
    width: 50%;
    border-radius: 10px;
    height: 30px;
}

.app-header-nav{
    width: 100%;
    background-color: #233335;
}

.app-header-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    display: flex;
    justify-content: center;
}

.app-header-nav ul li {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem ;
    cursor: pointer;
}

.app-header-nav ul li a {
    text-decoration: none;
    color: white;
}

.app-header-nav .selected {
    color: #ffcc00;
    font-weight: bold;
    position: relative;
}

.app-header-nav ul li a:hover {
    color: #ffcc00;
    position: relative;
    font-weight: bold;
    transition: width 0.6s ease;
}

.app-header-nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffcc00;
    transition: width 0.6s ease;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.app-header-nav ul li a:hover::after {
    width: 100%;
}
